/AirlineService/nbproject/private/
/AirlineService/build/
/ArlineClient/nbproject/private/
/ArlineClient/build/
/HotelService/nbproject/private/
/HotelClient/nbproject/private/
/HotelService/build/
/HotelClient/build/
/HotelClient/dist/
/HotelService/dist/
/ArlineClient/dist/
HotelService/nbproject/genfiles.properties

AirlineService/dist/AirlineService.war
/AirlineService/dist/
AirlineService/nbproject/genfiles.properties