#ant specific
*/dist/
*/build/
*/test/results
#netbeans specific
*/nbproject/private/
*/nbbuild/
*/nbdist/
*/nbactions.xml
*/.nb-gradle/

#java specific
*.class

#general swap/backup files
*.so
*.log
*.swp
*.DS_Store
*.lock
